<!DOCTYPE html>
<html lang="us-US">
<head>
  <meta charset="utf-8"/>
  <title>{appName} - {title}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet"/>
  <link href="/ui/css/main.v2.css" rel="stylesheet"/>
  <script type="text/javascript"> </script>

</head>
<body>

  <div id="wrapper">

    <div id="message-wrapper">

      <div id="message-body">
        {icon}
        <div id="message-header">{header}</div>
        <div id="message-message">{message}</div>

        <div id="footer">
          {footer}
        </div>

      </div>
    </div>

    <!--
    <div id="header-wrapper">
      <a id="app-name" href="{webSite}" alt="{appName}" title="{appName}" >
        <div class="header-logo"></div>
        <span class="header-lable-normal">{appName} Team</span>
        <span class="header-lable-colored"></span>
      </a>
    </div>

    <div id="message-wrapper">

      <div id="message-body">
        {icon}
        <div id="message-header">{header}</div>
        <div>{message}</div>
      </div>

      {social}
      <div class="message-line"></div>

      <div id="footer">
        {footer}
      </div>

      <div id="content-footer">
        {contentFooter}
      </div>

    </div>
    -->

  </div>

</body>
</html>