<!DOCTYPE html>
<html lang="us-US">
<head>
  <meta charset="utf-8"/>
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet"/>
  <link href="/ui/css/main.css" rel="stylesheet"/>
  <script type="text/javascript"> </script>
</head>
<body>

  <div id="wrapper">

    <!--
    <div id="header-wrapper">
      <a id="app-name" href="{webSite}" alt="{appName}" title="{appName}" >
        <div class="header-logo"></div>
        <span class="header-lable-normal">{appName}</span>
        <span class="header-lable-colored"></span>
      </a>
    </div>
    -->

    <div id="message-wrapper">

      <div id="message-body">
        {icon}
        <div id="message-header">{header}</div>
        {message}
      </div>

      {footer}
      {social}

    </div>
  </div>

</body>
</html>