<!DOCTYPE html>
<html lang="us-US">
<head>
  <meta charset="utf-8"/>
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet"/>
  <link href="/ui/css/share.css" rel="stylesheet"/>
  <script type="text/javascript"> </script>

  <meta property="og:title" content="{ogTitle}" />
  <meta property="og:type" content="{ogWebsite}" />
  <meta property="og:url" content="{ogUrl}" />
  <meta property="og:image" content="{ogImage}" />
  <meta property="og:description" content="{ogDescription}" />

</head>
<body>

  <div id="wrapper">
    <div id="content">
      {content}
    </div>
  </div>

</body>
</html>