<div style="font-size: 16px; text-align: left; border-bottom: dashed 1px #eee; margin-bottom: 10px;">

  <div style="width: 30%; min-width: 120px; box-sizing: border-box; padding: 10px; display: inline-block;">
    <span style="color: #777; font-size: 12px;">#${id} </span> 
    <span style="color: #07F; font-size: 14px; padding: 5px 10px;">{name} </span>
    <br/>
    <img src="{image}" style="max-width: 90px; padding: 4px; margin: 10px;"/>
  </div>

  <div style="width: 48%; box-sizing: border-box; padding: 30px 0 10px 0; display: inline-block; vertical-align: top; line-height: 18px;">
    <div style="color: #333; font-size: 12px;"> Price: <b>$ {price}</b> </div>
    <div style="color: #333; font-size: 12px;"> Amount: <b> {amount}</b> </div>
    <div style="color: #333; font-size: 12px;"> Total Price: <b>$ ${totalPrice}</b> </div>
  </div>
</div>
