<div style="text-align: left; padding: 10px;">
  <div style="font-size: 20px; text-align: center; margin-bottom: 24px;">
    <div style="padding: 0 0 5px 0;">{orderId}</div>
    <div style="color: #555; font-size: 12px;">{date}</div>
  </div>

  <div style=" margin: 10px auto; display: block; width: 98%; height: 1px; box-sizing: border-box; border-top: dashed 1px #aaa;"></div>

  {itemsList}

  <div style="width: 30%; min-width: 120px; box-sizing: border-box; padding: 10px; display: inline-block;">
    <!-- [placeholder] -->
  </div>

  <div style="width: 48%; box-sizing: border-box; padding: 10px 0 10px 0; display: inline-block; vertical-align: top; line-height: 18px;">
    <div style="color: #333; font-size: 12px;">Total price: $ <b>{totalPrice}</b> </div> 
    <div style="color: #333; font-size: 12px;">Total items: <b>{totalItems}</b> </div> 
  </div>

  <div style=" margin: 10px auto; display: block; width: 98%; height: 1px; box-sizing: border-box; border-top: dashed 1px #aaa;"></div>

  <br/><br/>
  <div style="text-align: center;">
   {button}
  </div>
</div>