<div style="
  margin: 0 auto; display: block; width: 100%; max-width: 768px; box-sizing: border-box; padding: 40px;
  background: #F3F1EF; font-family: Arial, sans-serif;
  /* border: solid 1px #ccc;*/
">

<!--  
Arial (sans-serif)
Verdana (sans-serif)
Helvetica (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive)
-->

  <div>
    {header}
    {body}
    {footer}
    {copyright}
  </div>

</div>
