<div style="
  margin: 0 auto; display: block; width: 100%; max-width: 768px; box-sizing: border-box; line-height: 24px;
">

  <!-- [line] -->
  <!--
  <div style="margin: 10px auto; display: block; width: 100%; height: 1px; box-sizing: border-box; background: #ddd;"></div>
  -->

  <h4 style="text-align: left; font-size: 20px; font-weight: 500;">
    {title}    
  </h4>

  <!-- [block] -->
  <div style="margin: 0px auto 0px auto; padding: 10px 0; display: block; width: 100%; box-sizing: border-box; ">
    {body}
  </div>

  <div style="padding: 10px 0;box-sizing: border-box; font-weight: 400; font-size: 14px; color: #42474E;">
    All the best,<br/>{APP_NAME} Team
  </div>


  <div style="margin: 10px auto; display: block; width: 100%; height: 1px; box-sizing: border-box; background: #ddd;"></div>

  <!-- [block] -->
  <div style="margin: 0px auto 10px auto; padding: 10px 0; display: block; width: 100%; box-sizing: border-box; ">
    {footer}
  </div>

</div>
