<div style="
  margin: 40px auto 0 auto; display: block; width: 100%; box-sizing: border-box; 
  text-align: left; font-weight: 400; font-size: 14px; color: #42474E;
">

  <!-- [line] -->
  <!--
  <div style="margin: 15px auto 10px auto; display: block; width: 98%; height: 1px; box-sizing: border-box; background: #ddd;"></div>
  -->

  <div>
    &copy; {YEAR} {OWNER_NAME}{COMPANY_NAME}. All rights reserved. 
      <a style="color: #A11C14; text-decoration: none;" href="mailto:{SUPPORT_EMAIL}@{DOMAIN}">{SUPPORT_EMAIL}@{DOMAIN}</a>
  </div>

</div>
