<div style="
  margin: 5px auto; display: block; width: 100%; 
  box-sizing: border-box; font-weight: 400; font-size: 14px; color: #92877E;
  line-height: 20px;
  "
>

  <span style="color: #A11C14;">{APP_NAME}</span>.<br/>
  If you didn`t sign up for this account you can ignore this message. <br/>
  Use of the service and application is subject to our 
  <a target="_blank" style="color: #A11C14; text-decoration: none;" href="{TERMS_AND_CONDITIONS}">Terms of Use</a>
  and 
  <a target="_blank" style="color: #A11C14; text-decoration: none;" href="{PRIVACY_POLICY}">Privacy Policy</a>  
</div>
